alias sys='sudo systemctl'
alias pacman='pacman --color=auto'
alias grep='grep --color=auto'
alias diff='diff --color=auto'
alias ls='ls --color=auto'
alias l='ls -lh'
alias la='ls -lah'
alias dd='dd status=progress'
alias df="df -h"
alias sd='shutdown -h now'
alias pudb='python -m pudb.run'

# Git aliases
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gca='git commit --amend'
alias gb='git branch'
alias gco='git checkout'

alias gclone='git clone'
alias gpull='git pull'
alias gpush='git push'
alias gf='git fetch'
alias gm='git merge'
alias gma='git merge --abort'
alias gff='git merge --ff-only'
alias gfff='git fetch && git merge --ff-only'
alias gr='git rebase'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'

alias gclean='git clean -f'
alias grh='git reset --hard'
alias grs='git reset --soft'
alias gunstage='git reset HEAD'
alias grm='git rm'

alias gh='git hist'
alias gd='git diff'
alias gds='git diff --staged'
alias gg='git grep'
alias ggrep='git grep'
alias gk='gitk&'

alias grl='git reflog'
alias gsh='git show'
alias gst='git status --long'

alias gsl='git stash list'
alias gss='git stash save -u'
alias gsp='git stash pop --index'
